*,
::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    background-color: white;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    margin-bottom: 50px;
    z-index: 2;
}

.wrapper {
    margin-top: 220px;
    display: flex;
    align-items: center;
}

.slide-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.slide-list {
    display: flex;
}

.slide-item {
    cursor: grab;
    flex-shrink: 0;
    padding: 0 10px;
    width: 90vw;
}

.slide-content {
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.644) 0px 12px 12px;
    position: relative;
    border-radius: 10px;
}

.slide-item img {
    width: 100%;
    border-radius: 10px;
}

.slide-description {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.137));
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.slide-description h3 {
    font-size: 2em;
}

.slide-nav-button-previous,
.slide-nav-button-next {
    background: transparent;
    color: #044F4F;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    padding: 10px;
}

.slide-nav-button-previous {
    left: 0;

}

.slide-nav-button-next {
    right: 0;
}

.slide-controls {
    margin: 20px auto;
}

.slide-control-button {
    background-color: transparent;
    color: lightgray;
    cursor: pointer;
    font-size: 1em;
    margin: 0 5px;
}

.slide-control-button.active {
    color: #044F4F
}

@media screen and (max-width: 768px) {
    .slide-description {
        padding: 10px;
    }

    .slide-description h3 {
        font-size: 1.2em;
    }

    .slide-description p {
        display: none;
    }

    .slide-nav-button-previous,
    .slide-nav-button-next {
        margin-top: -50px;
    }

    .slide-information h3 {
        font-size: 0.8em;
    }
}

.slide-wrapper-informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.slide-list-informations {
    display: flex;
    align-items: center;
    transition: 1s;
    width: 100%;
}

.slide-item-information {
    display: flex;
    flex-shrink: 0;
    padding: 0 10px;
    width: 90vw;
}

.slide-item-information div {
    width: 100%;
}

.slide-content-information {
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.644) 0px 12px 12px;
    position: relative;
    border-radius: 10px;
}

.slide-information {
    align-items: center;
    padding: 50px;
}

.slide-information {
    text-align: center;
    max-height: 176px;
}

.controls-button-slide-information {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-information {
    margin-left: 10px;
    font-size: 0.8em;
    color: lightgray;
}


.ofertas {
    display: flex;
    flex-direction: column;
}

.ofertas-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.banner {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.banner img {
    width: 90%;
}

.banner h3 {
    font-size: 2.5em;
}

#texto-brincos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

#texto-brincos h3,
#texto-brincos p {
    color: white;
    text-align: center;
}

#texto-colares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

#texto-colares h3,
#texto-colares p {
    color: white;
    text-align: center;
}

#texto-pulseiras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

#texto-pulseiras h3,
#texto-pulseiras p {
    color: white;
    text-align: center;
}

/* ---------- Lançamentos ------------ */

.lancamentos {
    flex-direction: column;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.lancamentos h2 {
    margin-bottom: 20px;
}

.lista-slide-lancamentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}
.position-item-lancamento {
    display: flex;
}
.item-do-lancamento {
    animation: slideON 40s 1s infinite alternate;
    animation-timing-function: ease-in-out;
    display: flex;
    flex-basis: 20%;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    width: 300%;
}
.item-lancamento-container {
    display: inline;
    width: 500px;
}
.imagem-lancamento-container{
    width: 100%;
}
.imagem-lancamento-container img {
    width: 80%;
}

@keyframes slideON {
    to {
        transform: translateX(-66%);
    }
}

.contatos {
    margin: auto;
    padding: 50px;
}

.redes-sociais {
    height: 450px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.links a {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
    color: #044F4F;
    padding: 5px;
    border: 1px solid #089b9b;
    border-radius: 15px;
    text-decoration: none;
    transition: box-shadow 0.5s;
}

.links a:hover {
    border: 2px solid #089b9b;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);
}

.links p {
    font-size: 0.8em;
    text-align: center;
}

.links h2 {
    font-size: 1em;
    text-align: center;
}
.rede-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icone-redes-sociais {
    width: 30%;
}